<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create League
        </h1>
    </div>
</div>
<ng-include src="'messages.html'"></ng-include>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h5>Name</h5>
                        <input type="text" id="name" ng-model="name" placeholder="e.g., Premier League"/>
                        <h5>Points For Win:</h5>
                        <input type="text" id="pointsForWin" ng-model="pointsForWin" placeholder="e.g., 3"/>
                        <br><br><button id="add" class="btn btn-primary" ng-click="addLeague(name, pointsForWin, pointsForDraw, entryFee, numOfEntrants, timesToPlay)">Add</button>
                    </div>
                    <div class="col-sm-4">
                        <h5>Entry Fee (Ether):</h5>
                        <input type="text" id="entryFee" ng-model="entryFee" placeholder="e.g., 10000000"/>
                        <h5>Points For Draw:</h5>
                        <input type="text" id="pointsForDraw" ng-model="pointsForDraw" placeholder="e.g., 1"/>
                    </div>
                    <div class="col-sm-4">
                        <h5>Number of Entrants:</h5>
                        <input type="text" id="numOfEntrants" ng-model="numOfEntrants" placeholder="e.g., 10"/>
                        <h5>Number of Times To Play Each Participant:</h5>
                        <input type="text" id="timesToPlay" ng-model="timesToPlay" placeholder="e.g., 2"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
