<div class="panel-group" id="accordion">
    <div class="panel {{shouldHideLeagueHeader() ? 'panel-default' : 'panel-primary'}}" ng-repeat="league in leagues">
        <div class="panel-heading" ng-hide="shouldHideLeagueHeader()">
            <h4 class="panel-title">
                <a ng-href="#/leagueDetails/{{league.id.toString()}}">{{ league.name }}</a>
                <div class="leagueRole" ng-repeat="role in league.userRoles">
                    {{ role }}&#160;
                </div>
            </h4>
        </div>
        <div id="#collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h5>Status</h5> {{ league.status.toString() }}
                    </div>
                    <div class="col-sm-4">
                        <h5>Entry Fee</h5> {{ league.entryFee.toString() }}
                    </div>
                    <div class="col-sm-4">
                        <h5>Number of Entrants</h5> {{ league.entries.length }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

