<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Find / Join
        </h1>
    </div>
</div>
<ng-include src="'messages.html'"></ng-include>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input id="leagueId" type="text" class="form-control" ng-model="leagueId" placeholder="League Id">
                        <span class="input-group-btn">
                            <button id="find" class="btn btn-primary" type="button" ng-click="findLeague(leagueId)">Find</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'leagues.html'"></ng-include>

<div class="row" ng-hide="leagues.length  == 0">
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="teamName" placeholder="Team Name">
            <span class="input-group-btn">
                <button id="join" class="btn btn-primary" type="button" ng-click="joinLeague(teamName)">Join</button>
            </span>
        </div>
    </div>
</div>

